<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
  
    <context:component-scan base-package="at.ac.tuwien.dsg.comot.elise.service"/>
  
  
    <jaxrs:server id="EliseService" address="/">  
        <jaxrs:serviceBeans>    	
            <ref bean="CloudServiceStructDAOImp" />
            <ref bean="CollectorManagerImp" />
            <ref bean="EliseDBServiceImp" />
            <ref bean="OfferedServiceUnitDAOImp" />
            <ref bean="ProviderDAOImp" />
            <ref bean="UnitInstanceDAOImp" />
            <!--      <ref bean="neo4jBean" />-->
        </jaxrs:serviceBeans>
                <jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs:providers>
<!--        <jaxrs:providers>
            <bean class="org.apache.cxf.jaxrs.provider.JSONProvider"/>
        </jaxrs:providers>-->
    </jaxrs:server>
 
    <bean id="CloudServiceStructDAOImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.CloudServiceStructDAOImp" />  
    <bean id="CollectorManagerImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.CollectorManagerImp" />  
    <bean id="EliseDBServiceImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.EliseDBServiceImp" />  
    <bean id="OfferedServiceUnitDAOImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.OfferedServiceUnitDAOImp" />  
    <bean id="ProviderDAOImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.ProviderDAOImp" />  
    <bean id="UnitInstanceDAOImp" class="at.ac.tuwien.dsg.comot.elise.service.impl.UnitInstanceDAOImp" />
    <!--<bean id="neo4jBean" class="at.ac.tuwien.dsg.comot.elise.neo4jAccess.AppContext" />-->  
   
</beans>
