<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_4.dtd" >

<web-app>
  <display-name>ELISE</display-name>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>WEB-INF/beans.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>EliseServlet</servlet-name>
  	<display-name>Elise service Servlet</display-name>
  	<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>  
  
  <servlet-mapping>
  	<servlet-name>EliseServlet</servlet-name>
  	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>