
#Eclipse
.classpath
.project
.settings/

#Maven
target/
log/
.extract/

#Mac
.DS_Store

#Intellij
.idea/
*.iml
*.iws

config_TOSCA/
.externalToolBuilders/
*.ini
*.pem

#neo4j DB
comotElise.db/

#Elise configuration file
*.conf
